<!-- app/views/home/index.html.erb -->
<div class="jumbotron">
  <h1 class="display-4">Hello, I'm [Your Name]!</h1>
  <p class="lead">Welcome to my portfolio. I'm a [Your Profession].</p>
  <hr class="my-4">
  <p>Check out my projects and learn more about me.</p>
  <%= link_to 'View Projects', projects_path, class: 'btn btn-primary btn-lg' %>
  <%= link_to 'About Me', about_path, class: 'btn btn-secondary btn-lg' %>
</div>
