<h1>Contact</h1>
<p>This is the Contact page.</p>
add linkedin
email address
phone number
<a href="https://www.linkedin.com/in/nicolemci" target="_blank">
   <img src="path-to-linkedin-icon.png" alt="LinkedIn Profile">
</a>
