body {
  font-family: 'Lucida Console', Monaco, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  top: 70px; /* Adjust based on header height */
  left: 0;
  width: 60px;
  height: 100%;
  background: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  z-index: 1000;
}

.sidebar__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__link-wrapper {
  margin: 10px 0;
}

.sidebar__link {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  display: block;
  transform: rotate(-90deg); /* Rotate the text */
  white-space: nowrap; /* Prevent text wrapping */
}

.sidebar__link:hover {
  color: #092746;
}

.container {
  padding-top: 90px; /* Adjust this value based on the header height */
  padding-left: 70px; /* Add padding to accommodate the sidebar */
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 90px); /* Full height minus the header */
}

.content {
  max-width: 800px; /* Adjust the max width as needed */
  text-align: center;
}

/* Add additional styles as needed */
